<main role="main">
<section class="jumbotron">
<div class="container">
    <img id="map" src="../../../assets/images/map.png">
        <div class="card-deck row">
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">Card title</h5>
            <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">Card title</h5>
            <p class="card-text"  style="overflow-y: scroll;">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title card-header">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
      </div> 
    </div>
</section>
   
<!-- dashboard section -->
<div class="album py-5 bg-light dashboard">
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">My Trips</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Day Plans</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active col" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <p>Saved trips</p>
                  <div class="card">
                    <div *ngFor="let trip of trips" (click)="goToTripId(trip.id)">
                    <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{trip.id}}</h5>
                      <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">{{trip.destination}}
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <p>Trip By day</p>
                  <div class="card col">
                    <div *ngIf="activities" >
                    <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{activities[0].name}}</h5>
                      <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">
                      </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
</div>
</main>


 