<main role="main">
<section class="jumbotron">
<div class="container">
    <img id="map" src="../../../assets/images/map.png">
        <div class="card-deck row">
        <div class="card">
          <!-- paris cards for cafe -->
        <div *ngIf="parisHotel" >
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">{{parisHotel[0].group}}</h5>
            <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">
              City: {{parisHotel[0].entities[0].name}}
              <br>
              City Group Hotel is a haven of style and elegance in one of Paris’s most 
              sophisticated neighborhoods. Flooded with natural light from the 
              glass ceiling, the lobby lounge sets the tone with polished tile floors, 
              colorful seating, and a large-scale Art Deco print. After check-in, enjoy a 
              glass of Champagne in the high-ceilinged bar area, or stroll outside to the 
              hotel's hidden gem: a beautiful cobbled garden that is one of the largest in Paris, 
              complete with vintage streetlights, palm trees, and secluded corners. Inside, beautifully decorated 
              guestrooms come with superb amenities, including a private cinema and well-equipped fitness center.
            </p>
          </div>
        </div>
        </div>
        <div class="card">
          <div *ngIf="parisCafe" >
            <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">{{parisCafe[0].name}}</h5>
            <p class="card-text">
              Address: {{parisCafe[0].address}}
              <br>
              Phone Number: {{parisCafe[0].phone_number}}
              <br>
              Website: {{parisCafe[0].website}}
            </p>
          </div>
        </div>
        </div>
                                     <!-- Barcelona cards for cafe -->
        <section class="barcelona cards">
          <div class="container">
              <img id="map" src="../../../assets/images/map.png">
                  <div class="card-deck row">
                  <div class="card">
                    <!-- paris cards for cafe -->
                  <div *ngIf="barcelonaHotel" >
                    <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{barcelonaHotel[0].group}}</h5>
                      <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">
                        City: {{barcelonaHotel[0].entities[0].name}}
                        <br>
             Hotel Condes Barcelona occupies a 19th-century building on Passeig de Gracia with a seasonal rooftop pool and terrace. It features a gym and a sauna.
            The soundproofed rooms at Condes de Barcelona Hotel are air conditioned, LCD satellite TV and laptop safe.
           They have views of Passeig de Gracia or a pretty Eixample courtyard, and some rooms include a small balcony.
          The hotel has an elegant rooftop bar.
          This is our guests' favorite part of Barcelona, according to independent reviews.
          Couples in particular like the location
                      </p>
                    </div>
                  </div>
                  </div>
                  <div class="card">
                    <div *ngIf="barcelonaCafe" >
                      <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{barcelonaCafe[0].name}}</h5>
                      <p class="card-text">
                        Address: {{barcelonaCafe[0].address}}
                        <br>
                        Phone Number: {{barcelonaCafe[0].phone_number}}
                        <br>
                        Website: {{barcelonaCafe[0].website}}
                      </p>
                    </div>
                  </div>
                  </div>
                  
                  <!-- Barcelona cards for the zoo -->
                  <div class="card">
                    <div *ngIf="barcelonaZoo" >
                      <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{barcelonaZoo[0].name}}</h5>
                      <p class="card-text">
                        Address: {{barcelonaZoo[0].address}}
                        <br>
                        Phone Number: {{barcelonaZoo[0].phone_number}}
                        <br>
                        Website: {{barcelonaZoo[0].website}}
                      </p>
                    </div>
                  </div>
                  </div>

                   <!-- Barcelona cards for the Museum -->
                   <div class="card">
                    <div *ngIf="barcelonaMuseum" >
                      <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{barcelonaMuseum[0].name}}</h5>
                      <p class="card-text">
                        Address: {{barcelonaMuseum[0].address}}
                        <br>
                        Phone Number: {{barcelonaMuseum[0].phone_number}}
                        <br>
                        Website: {{barcelonaMuseum[0].website}}
                      </p>
                    </div>
                  </div>
                  </div>
                   <!-- Barcelona cards for the Tourist Attraction -->
                   <div class="card">
                    <div *ngIf="barcelonaAttract" >
                      <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{barcelonaAttract[0].name}}</h5>
                      <p class="card-text">
                        Address: {{barcelonaAttract[0].address}}
                        <br>
                        Phone Number: {{barcelonaAttract[0].phone_number}}
                        <br>
                        Website: {{barcelonaAttract[0].website}}
                      </p>
                    </div>
                  </div>
                  </div>



        <div class="card">
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title card-header">Card title</h5>
            <p class="card-text"  style="overflow-y: scroll;">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Next city cards (need to copy full section above and change info) -->

<!-- dashboard section -->
<div class="album py-5 bg-light dashboard">
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">My Trips</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Day Plans</button>
            </li>
        </ul>
        <div class="tab-content dashboardContainer" id="myTabContent">
            <div class="tab-pane fade show active col" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <p>Saved trips</p>
                <div *ngFor="let trip of trips" (click)="goToTripId(trip.id)">
                  <div class="card">
                    <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{trip.id}}</h5>
                      <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">hello
                      </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <p>Trip By day</p>
                <div *ngIf="activities" >
                  <div class="card col">
                    <img class="card-img-top" src="../../../assets/images/PlanIt_Logo (1).png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title card-header">{{activities[0].name}}</h5>
                      <p class="card-text" data-spy="scroll" data-target="#card-text" data-offset="0">
                      </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>
</div>



 