<!-- Header contains nav bar -->
<header>
    <nav class="navbar">
        <ul class="nav_links">
            <img class="drawnlogo" href="/homepage" src="../../../assets/images/PlanIt_Logo (1).png">
            <!-- <li><a href="/homepage" class="logo">PlanIt</a></li> -->
            <li>Welcome Back, Megan!</li>
        </ul>
    </nav>
    <form id='content' class='hide'>
    </form>
    <a class="dashboard" href="/dashboard"><button>Dashboard</button></a>
    <!-- <a id="logout" class='logout'><button>Logout</button></a> -->
    <hr>
</header>
