@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 20px;
    color: #283618;
    text-decoration: none;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  header .logo {
    color: #283618;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.3em;
  }

  .nav {
    top: 0;
    left: 0;
    right: 0px;
    min-width: 100%;
    z-index: 1000;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
  }

  .shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
  }

  .nav_links {
    list-style: none;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover {
    color: rgba(96, 108, 56, 1);
  }

  .drawnlogo {
    max-height:120px;
    justify-content: flex-start;
    margin-left: 0px;
  }

  #midtext {
    font-weight: bolder;
    font-size: 30px;
    align-items: center;
  }

  .dropdown {
    display: flex; 
    justify-content: right; 
    text-align: flex-end;
    align-items: flex-end;
    margin-right: 0px;
  }

  button {
    padding: 9px 25px;
    background-color: rgba(96, 108, 56, 1);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  button:hover {
    background-color: rgba(96, 108, 56, 0.8);
    transform: translate(0, -5px);
  }
