<!-- Header contains nav bar -->
<!-- <header class="shadow"> -->
    <nav class="nav shadow">
        <ul class="nav_links">
            <img class="drawnlogo" href="/homepage" src="../../../assets/images/PlanIt_Logo (1).png">
            <li id="midtext">Where Will Your Next Adventure Take You</li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="user">
              Welcome Back {{user.nickname}}!
            </a>
            <ul class="dropdown-menu row" aria-labelledby="navbarDropdown">
              <li><a class="dashboard" href="/dashboard">Dashboard</a></li>
              <auth></auth>
            </ul>
          </li>
          </ul>
    </nav>
    <hr>
<!-- </header> -->
