<!-- Header contains nav bar -->
<!-- <header class="shadow"> -->
    <nav class="nav shadow">
        <ul class="nav_links">
            <img class="drawnlogo" href="/homepage" src="../../../assets/images/PlanIt_Logo (1).png">
            <!-- <li><a href="/homepage" class="logo">PlanIt</a></li> -->
            <li id="midtext">Where Will Your Next Adventure Take You</li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome Back Megan!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dashboard" href="/dashboard"><button>Dashboard</button></a></li>
              <auth></auth>
            </ul>
          </li>
          </ul>
    </nav>
    <!-- <a id="logout" class='logout'><button>Logout</button></a> -->
    <hr>
<!-- </header> -->
