<body>

    <header class="welcome">
      <h2>Welcome!</h2>
      
    
    </header>
    <header class="trip">
        <h2><a href="homepage.component.html"></a>Create a new trip </h2>
    </header>
    
    <section>
      <nav>
      <p>My Dashboard</p>
        <ul>
          <li><a href="#">Saved Trips</a></li>
          <li><a href="#">Favorite Trips</a></li>
        </ul>
      </nav>
      <div class="grid-container">
      <div class="grid-item">Day</div>
      <div class="grid-item">Food</div>
      <div class="grid-item">Night</div>  
      <div class="grid-item">Hotel</div>
      <div class="grid-item">Day</div>
      <div class="grid-item">Food</div>
      <div class="grid-item">Night</div>  
      <div class="grid-item">Hotel</div>
        <div class="grid-item">Day</div>
      <div class="grid-item">Food</div>
      <div class="grid-item">Night</div>  
      <div class="grid-item">Hotel</div>
    </div>
    
    </section>
    
    <footer>
      <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
        </ul>
    </footer>
    
    </body>
