<article>
    <h2>Let's get started!</h2>
    <div id="errorMessage"></div>
    <!-- Form for activity and location -->
    <form id="quiz">
       <fieldset class="location">
             <legend>Where do you want to go?</legend>
             <select id="location" name="location">
                <option value="New York">New York</option>
                <option value="paris" value="Paris">Paris</option>
                <option value="London">London</option>
                <option value="Barcelona">Barcelona</option>
             </select> 
          </fieldset>

          <fieldset class="activity">
             <legend>What do you want to do?</legend>
             <select id="activity" name="activity">
                <option value="Zoo">Zoo</option>
                <option value="Museum">Museum</option>
                <option value="Cafe">Cafe</option>
                <option value="Attraction">Attraction</option>
             </select>
          </fieldset>
       <fieldset id="previewbutton">
        <ul>
            <li><a class="pariscafe" href="/pariscafe">Submit</a></li>
        </ul>
       </fieldset>
       <!-- <a href="/pariscafe"></a> -->
    </form>
 </article>