<section class="showcase">
    <header>
        <h2 class="logo">PlanIt</h2>
    </header>

    <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" >
        <source src="../../../assets/videos/Man running with a dog on a mountain.mp4" type="video/mp4">
      </video>
    <div class="overlay"></div>
    <div class="text">
        <h2>Your Trip</h2>
        <h2>Your Way</h2>
        <p>The only trip you'll regret is the one you never took.
            Let us take the hassel out of planning so you never
            regret not taking that trip ever again! 
        </p>
    <!-- login/signup routes -->
    <a *ngIf="!isLoggedIn" (click)="logIn()">Log In</a>
    <a *ngIf="!isLoggedIn" (click)="logIn()">Sign Up</a>
</div>

<ul class="social">
    <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
    <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
</ul>

</section>
